{% extends '::base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block stylesheets %}
    {% stylesheets 
        'bundles/acmedemo/css/style.css' filter='cssrewrite' 
        'bundles/acmedemo/css/bootstrap.min.css' filter='cssrewrite' 
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style type="text/css">body {padding-top: 60px; padding-bottom: 40px;} .sidebar-nav {padding: 9px 0;}</style>

    <link rel="shortcut icon" href="ico/favicon.ico"/>
{% endblock %}
        
{% block body %}
    {% include 'AcmeDemoBundle::topbar.html.twig' %}

    <div class="container-fluid">
        <div class="row-fluid">{% block content %}{% endblock %}</div>
        <hr/>

        <footer><p>&copy; Carlos Puerta Santana {{ "now"|date("Y") }}</p></footer>
    </div>

    {% block javascripts %}
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/bootstrap.min.js') }}"></script>
    {% endblock %}
{% endblock %}