<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="">{{ 'header.title'|trans }}</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="">
                        <a href="{{ path('_hotel_index') }}">{{ 'header.nav.hotels'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>